[Unit]
Description=Berry
After=network.target

[Service]
WorkingDirectory=/home/pi/Projects/Berry/WebServer/
ExecStart=/usr/bin/python3 -u main.py
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target