<!DOCTYPE html>
    <head>
      <link rel="stylesheet" type="text/css" href="../static/css/joystick.css" media="screen" />
      <title>{{ title }}</title>
    </head>
    <body>
        <h1>Hi, I'm Berry!</h1>
        <p>Here are all the things we can to together:<p>
        <p>Tic Tac Toe</p>
        <form action="/tictactoe" method = "POST">
            <label>Number of games: </label>
            <input type = "number" name="numGames">
            <input type="submit" value="Start">
        </form>
        <p><a href="/gettemperature">Get Temperature</a></p>
        <p><a href="/shutdown">Shutdown</a></p>
        <br />
        <div class="joystick-container">
            <div class="top">
                <button onmousedown="moveForward()" onmouseup="stopMoving()">forward</button>
            </div>
            <div class="middle">
                <button onmousedown="turnLeft()" onmouseup="stopMoving()"">left</button>
                <button onmousedown="turnRight()" onmouseup="stopMoving()"">right</button>
            </div>
            <div class="bottom">
                <button onmousedown="moveBackward()" onmouseup="stopMoving()"">backward</button>
            </div>
        </div>
        
        <script src="../static/js/joystick.js" type="text/javascript"></script>
    </body>
</html>
