<!DOCTYPE html>
    <head>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/joystick.css') }}">
      <script type="text/javascript" src="{{ url_for('static', filename='js/joystick.js') }}"></script>
      <title>{{ title }}</title>
    </head>
    <body>
        <h1>Hi, I'm Berry!</h1>
        <p>Here are all the things we can to together:<p>
        <p>Tic Tac Toe</p>
        <form action="/tictactoe" method = "POST">
            <label>Number of games: </label>
            <input type = "number" name="numGames">
            <input type="submit" value="Start">
        </form>
        <p><a href="/gettemperature">Get Temperature</a></p>
        <p><a href="/shutdown">Shutdown</a></p>
        <br />
        <div class="joystick-container">
            <div class="top">
                <button ontouchstart="move('f')" ontouchend="stopMoving()" onmousedown="move('f')" onmouseup="stopMoving()"><span class="arrow-up"></span></button>
            </div>
            <div class="middle">
                <button ontouchstart="move('l')" ontouchend="stopMoving()" onmousedown="move('l')" onmouseup="stopMoving()"><span class="arrow-left"></span></button>
                <button ontouchstart="move('r')" ontouchend="stopMoving()" onmousedown="move('r')" onmouseup="stopMoving()"><span class="arrow-right"></span></button>
            </div>
            <div class="bottom">
                <button ontouchstart="move('b')" ontouchend="stopMoving()" onmousedown="move('b')" onmouseup="stopMoving()"><span class="arrow-down"></span></button>
            </div>
        </div>
    </body>
    <script>
        function move(direction) {  
            fetch(`/move`, {
                method: "POST",
                credentials: "include",
                body: JSON.stringify(direction),
                cache: "no-cache",
                headers: new Headers({"content-type": "application/json"})
            })
              .then(function (response) {
                  return response.text();
              })
              .then(function (text) {
                  console.log('POST response text:');
                  console.log(text); 
              });
        }

        function stopMoving() {
            fetch(`/stopMoving`)
              .then(function (response) {
                  return response.text();
              }).then(function (text) {
                  console.log('POST response text:');
                  console.log(text); 
              });
        }
    </script>
</html>
